<button
  [type]="type"
  [class.with-icon]="!!icon"
  (click)="handleClick($event)"
  (keydown)="handleKeydown($event)">
  
  <span class="lib-btn__ripple" *ngIf="allowFocusRipple"></span>
  
  <span class="lib-btn__content">
    <!-- Loading spinner -->
    <span *ngIf="loading" class="lib-btn__spinner" role="status" aria-label="Loading">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="10" stroke="currentColor" fill="none" stroke-width="3" />
      </svg>
    </span>

    <!-- Left icon -->
    <span *ngIf="icon && iconPosition === 'left'" class="lib-btn__icon lib-btn__icon--left">
      <lib-icon [name]="icon"></lib-icon>
    </span>

    <!-- Label -->
    <span class="lib-btn__label">
      <ng-content></ng-content>
    </span>

    <!-- Right icon -->
    <span *ngIf="icon && iconPosition === 'right'" class="lib-btn__icon lib-btn__icon--right">
      <lib-icon [name]="icon"></lib-icon>
    </span>
  </span>
</button>
