<div class="lib-form-field__container">
  <!-- Label -->
  <label *ngIf="label" class="lib-form-field__label" [class.required]="required">
    {{ label }}
  </label>

  <!-- Input container -->
  <div class="lib-form-field__input-container">
    <!-- Prefix -->
    <div class="lib-form-field__prefix" *ngIf="prefixTemplate">
      <ng-container *ngTemplateOutlet="prefixTemplate"></ng-container>
    </div>

    <!-- Main content (input/select/etc) -->
    <div class="lib-form-field__content">
      <ng-content></ng-content>
    </div>

    <!-- Suffix -->
    <div class="lib-form-field__suffix" *ngIf="suffixTemplate">
      <ng-container *ngTemplateOutlet="suffixTemplate"></ng-container>
    </div>
  </div>

  <!-- Hint/Error messages -->
  <div class="lib-form-field__subscript">
    <div class="lib-form-field__error" *ngIf="error">{{ error }}</div>
    <div class="lib-form-field__hint" *ngIf="hint && !error">{{ hint }}</div>
  </div>
</div>
