.controls {
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-4);
  flex-wrap: wrap;
}

.form-demo {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  
  input {
    width: 100%;
    border: none;
    background: none;
    padding: var(--space-2);
    color: var(--ui-text-primary);
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    
    &:focus {
      outline: none;
    }
    
    &::placeholder {
      color: var(--ui-text-secondary);
    }
  }
}
