@import '../../ui-components/src/style.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demo app global styles */
body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}
